@{
    if (!extreemt.tools.isAuthorized(Request.Url.AbsolutePath))
    {
        if (Request.Url.AbsolutePath != Url.Action("Index", "Home"))
        {
            Response.Redirect(Url.Action("Index", "Home"));
            return;
        }
    }
}
@{
    ViewBag.Title = "Add_Product";
}

<h1>Add_Product</h1>

<div class="container">
    <h2>Add Product</h2>
    <form role="form">

        <div class="form-group">
            <div class="col-xs-4">
                <label for="product_name">Name:</label>
                <input type="text" class="form-control" id="name">
            </div>
            <div class="col-xs-8">
                <label for="description">Description:</label>
                <textarea class="form-control" rows="5" id="description"></textarea>
            </div>
            <div class="col-xs-4">
                <label for="price">Price:</label>
                <input type="number" class="form-control" id="price">
            </div>
            <div class="col-xs-4">
                <label for="quantity">Quantity:</label>
                <input type="number" class="form-control" id="quantity">
            </div>
            <div class="col-xs-4">
                <label for="upload">Upload Images:</label>
                <input type="file" class="form-control" id="images" accept="image/*">
            </div>
        </div>
    </form>
</div>