@{
    ViewBag.Title = "Category";
}

<h2>Category</h2>

<div class="product">
    <div class="container">


        <div class="col-md-9 product1">
            <div class=" bottom-product">
                <div class="col-md-4 bottom-cd simpleCart_shelfItem">
                    <div class="product-at ">
                        <a href="single.html">
                            <img class="img-responsive" src="~/Content/images/ip1.jpg" alt="">
                            <div class="pro-grid">
                                <span class="buy-in">Buy Now</span>
                            </div>
                        </a>
                    </div>
                    <a href="#" class="item_add"><p class="number item_price"><i> </i>EGP500.00</p></a>
                </div>
                <div class="col-md-4 bottom-cd simpleCart_shelfItem">
                    <div class="product-at ">
                        <a href="single.html">
                            <img class="img-responsive" src="~/Content/images/head.jpg" alt="">
                            <div class="pro-grid">
                                <span class="buy-in">Buy Now</span>
                            </div>
                        </a>
                    </div>
                    <a href="#" class="item_add"><p class="number item_price"><i> </i>EGP500.00</p></a>
                </div>
                <div class="col-md-4 bottom-cd simpleCart_shelfItem">
                    <div class="product-at ">
                        <a href="single.html">
                            <img class="img-responsive" src="~/Content/images/hp1.jpg" alt="">
                            <div class="pro-grid">
                                <span class="buy-in">Buy Now</span>
                            </div>
                        </a>
                    </div>
                    <a href="#" class="item_add"><p class="number item_price"><i> </i>EGP500.00</p></a>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class=" bottom-product">
                <div class="col-md-4 bottom-cd simpleCart_shelfItem">
                    <div class="product-at ">
                        <a href="single.html">
                            <img class="img-responsive" src="~/Content/images/ni.jpg" alt="">
                            <div class="pro-grid">
                                <span class="buy-in">Buy Now</span>
                            </div>
                        </a>
                    </div>
                    <a href="#" class="item_add"><p class="number item_price"><i> </i>EGP500.00</p></a>
                </div>
                <div class="col-md-4 bottom-cd simpleCart_shelfItem">
                    <div class="product-at ">
                        <a href="single.html">
                            <img class="img-responsive" src="~/Content/images/vaio.jpg" alt="">
                            <div class="pro-grid">
                                <span class="buy-in">Buy Now</span>
                            </div>
                        </a>
                    </div>
                    <a href="#" class="item_add"><p class="number item_price"><i> </i>EGP500.00</p></a>
                </div>
                <div class="col-md-4 bottom-cd simpleCart_shelfItem">
                    <div class="product-at ">
                        <a href="single.html">
                            <img class="img-responsive" src="~/Content/images/sony.jpg" alt="">
                            <div class="pro-grid">
                                <span class="buy-in">Buy Now</span>
                            </div>
                        </a>
                    </div>
                    <a href="#" class="item_add"><p class="number item_price"><i> </i>EGP500.00</p></a>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class=" bottom-product">
                <div class="col-md-4 bottom-cd simpleCart_shelfItem">
                    <div class="product-at ">
                        <a href="single.html">
                            <img class="img-responsive" src="~/Content/images/nio.jpg" alt="">
                            <div class="pro-grid">
                                <span class="buy-in">Buy Now</span>
                            </div>
                        </a>
                    </div>
                    <a href="#" class="item_add"><p class="number item_price"><i> </i>EGP500.00</p></a>

                </div>
                <div class="col-md-4 bottom-cd simpleCart_shelfItem">
                    <div class="product-at ">
                        <a href="single.html">
                            <img class="img-responsive" src="~/Content/images/rol.jpg" alt="">
                            <div class="pro-grid">
                                <span class="buy-in">Buy Now</span>
                            </div>
                        </a>
                    </div>
                    <a href="#" class="item_add"><p class="number item_price"><i> </i>EGP500.00</p></a>
                </div>
                <div class="col-md-4 bottom-cd simpleCart_shelfItem">
                    <div class="product-at ">
                        <a href="single.html">
                            <img class="img-responsive" src="~/Content/images/htc.jpg" alt="">
                            <div class="pro-grid">
                                <span class="buy-in">Buy Now</span>
                            </div>
                        </a>
                    </div>
                    <a href="#" class="item_add"><p class="number item_price"><i> </i>EGP500.00</p></a>
                </div>
                <div class="clearfix"> </div>
            </div>

        </div>
    </div>
</div>

