@{
    if (!extreemt.tools.isAuthorized(Request.Url.AbsolutePath))
    {
        if (Request.Url.AbsolutePath != Url.Action("Index", "Home"))
        {
            Response.Redirect(Url.Action("Index", "Home"));
            return;
        }
    }
}
@{
    ViewBag.Title = "Product";
}

<h2>Product</h2>

<div id="details">
    <div class="col-md-9 product-price1">

        <div class="col-md-5 ">

            <img class="img-responsive" src="images/ip1.jpg" />

        </div>
        <div class="col-md-7 single-top-in simpleCart_shelfItem">
            <div class="single-para ">
                <h4>Product Name</h4>

                <h5 class="item_price"> Price: 6695.00 EGP</h5>
                <h2 class="item_available"> In Stock</h2>

                <p>Product Ifno </p>
                <div class="available">
                    <ul>
                        <li>
                            Color
                            <select>
                                <option>Silver</option>
                                <option>Black</option>
                                <option>Dark Black</option>
                                <option>Red</option>
                            </select>
                        </li>
                        <li class="size-in">
                            Size<select>
                                <option>Large</option>
                                <option>Medium</option>
                                <option>small</option>
                                <option>Large</option>
                                <option>small</option>
                            </select>
                        </li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>

                <a href="#" class="add-cart item_add">ADD TO CART</a>


            </div>
        </div>
        <!---->
        <div>

            <nav>
                <ul class="cd-tabs-navigation">
                    <li><a data-content="fashion" href="#0" class="selected ">Description </a></li>
                </ul>
            </nav>
            <ul class="cd-tabs-content">
                <li data-content="fashion" class="selected">
                    <div class="facts">
                        <p> Add Product Description Here </p>

                    </div>

                </li>

            </ul>
        </div>

    </div>
</div>
