@{
    ViewBag.Title = "Account_Summary";
}

<h2>Account_Summary</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            @* total Cash cheques and total product cheques  For this user*@
            <th>Cash Cheques Numebr</th>
            <th>Product Cheques Numebr</th>

        </tr>

    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>

        </tr>
    </tbody>
</table>