@{
    ViewBag.Title = "Cash_Bank";
}

<h2>Cash_Bank</h2>
@{
    extreemt.user usr = extreemt.Account.staticGetLoggedUser();

}
<div class="container">
    <div style="width:50%">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Cash_bank</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@usr.username </td>
                    <td>@usr.cashBank</td>

                </tr>
            </tbody>
        </table>

    </div>
</div>