@{
    ViewBag.Title = "Daily_Signup";
}

<h2>Daily_Signup</h2>
@*/* Show Today's Signup if there *@ 
<table class="table table-bordered">
    <thead>
        <tr>
            <th>IR ID</th>
            <th>IR Name</th>
            <th>Applier id</th>
            <th>Applier Name</th>
            <th>Applier Side</th>
            <th>Confirm Date</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < 5; i++)
        {
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>
        }
    </tbody>

</table>