@{
    ViewBag.Title = "My_Transfer";
}

<h2>My_Transfer</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            @* All Transfers From And To this user*@
            <th>Transfer From</th>
            <th>Transfer To</th>
            <th>Transfer Date </th>

        </tr>

    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>

        </tr>
    </tbody>
</table>