@{
    ViewBag.Title = "Product_Bank";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>Product_Bank</h2>
@{
    extreemt.user usr = extreemt.Account.staticGetLoggedUser();

}
<div class="container">
    <div style="width:50%">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Product_Bank</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@usr.username </td>

                    <td>@usr.productBank</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>